<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test">
  
  <xacro:property name="test_lower" value="-0.111"/>
  <xacro:property name="test_upper" value="0.001"/>
  
  <xacro:macro name="test_joint" params="num lower upper">
    <joint name="j${num}" type="prismatic">
      <limit lower="${lower}" upper="${upper}"/>
    </joint>
  </xacro:macro>
  
  <xacro:test_joint num="1" lower="${test_lower}" upper="${test_upper}"/>
  <xacro:test_joint num="2" lower="-0.001" upper="0.111"/>
  
</robot>
